<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Toggle</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen flex flex-col items-center justify-center">

    <div class="bg-white p-8 rounded-lg shadow-lg text-center">
        <h1 class="text-2xl font-bold mb-4">Bem-vindo ao Humildes Poker</h1>

        <div id="mesa" class="flex space-x-2 overflow-auto border-2 border-red-500 roudend-md p-4 w-full my-5">

        </div>

        <h2>AÇÕES</h2>
        <div class="border-2 flex p-2 w-full justify-between ">
            <button onclick="actionPlayer('bet', 10)" class="px-4 py-2 border rounded-md bg-green-500 font-bold text-white">bet</button>
            <button onclick="actionPlayer('call', 10)" class="px-4 py-2 border rounded-md bg-blue-500 font-bold text-white">call</button>
            <button onclick="actionPlayer('raise', 20)" class="px-4 py-2 border rounded-md bg-purple-500 font-bold text-white">raise</button>
            <button onclick="actionPlayer('fold', 0)" class="px-4 py-2 border rounded-md bg-red-500 font-bold text-white">fold</button>
            <button onclick="actionPlayer('check', 0)" class="px-4 py-2 border rounded-md bg-gray-500 font-bold text-white">check</button>
            <button onclick="actionPlayer('all_in', 10)" class="px-4 py-2 border rounded-md bg-yellow-500 font-bold text-white">all in</button>
        </div> <br>

        <button id="btnSentarAMesa" class="px-6 py-2 bg-blue-500 text-white font-semibold rounded transition ">
            Sentar na mesa 1
        </button>

        <!-- Mensagem de status -->
        <p id="statusMessage" class="mt-4 text-lg text-gray-700"></p>
    </div>



</body>

</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script> 